.responseArea {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.responseAreaLogoContainer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.human_query{
  white-space: pre-line;
  font-size: 24px;
}

